<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Decimales a Romanos Angular
  </h1>
  <h2>
    <div>
      <input (keypress)="validate($event)" (keyup)="convertir()" placeholder="Decimal" size="60" [(ngModel)]="numb"/>
    </div>
    <div>
    <label>{{rom}}</label>
    </div>
  </h2>
</div>
<!-- <div style="text-align:center">
    <h1>
      Decimales a Romanos Ruby Api
    </h1>
    <h2>
      <div>
        <input (keypress)="validateRuby($event)" (keyup)="convertirRuby()" placeholder="Decimal" size="60" [(ngModel)]="numbRuby"/>
      </div>
      <div>
      <label>{{romRuby}}</label>
      </div>
    </h2>
  </div>
<router-outlet></router-outlet> -->